<!DOCTYPE html>
<html lang="en-US" class="no-js">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        
		<!-- ==============================================
		TITLE AND META TAGS
		=============================================== -->
		<title>Merit - Merit Multi-Purpose HTML Template</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Quickdev">

		<!-- ==============================================
		FAVICON
		=============================================== -->  
        <link rel="shortcut icon" href="img/master/favicon.png">
             
		<!-- ==============================================
		CSS
		=============================================== -->  
        <link rel="stylesheet" href="css/bootstrap.min.css"> 
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/navigation.css">
        <link rel="stylesheet" href="css/portfolio.css">
		<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/slick.min.css"> 
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        
	</head>
    
<body>
    
<!-- LOADER -->
<div id="loader-wrapper">
<div id="loader"></div>
</div>
<!-- LOADER -->
    
	<div class="wrapper" id="home"><!-- MAIN WRAPPER -->
		<!-- MAIN HEADER -->
        <div class="main-header">
            <!-- MAIN NAVBAR -->
            <div class="main-nav">
                <nav id="navigation1" class="navigation navbar-fixed-top">
                    <div class="section">                        
                    <div class="nav-header">
                        <a class="nav-logo" href="index.htm">

                        </a>
                        <div class="nav-toggle"></div>
                    </div>

                    <div class="nav-menus-wrapper">
                        <ul class="nav-menu align-to-right">
                            <li class="active"><a href="#home">HOME</a></li>
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="#work">WORK</a></li>
                            <li><a href="#services">SERVICES</a></li>
                            <li><a href="#customers">CUSTOMERS</a></li>
                            <li><a href="#contact">CONTACT</a></li>
                        </ul>
                    </div>
                    </div>
                 </nav>
            </div><!-- END MAIN NAVBAR -->
            <div class="main-slider">
                <div class="particle-canvas" id="particle-canvas"></div>
                <div class="hero-content">
                    <div class="hero-avatar"><img src="img/images/portfolio/avatar.jpg" alt=""></div>
                    <div class="hero-info">
                        <h1>Hi, I'm John Doe</h1>
                        <div class="word"></div>
                    
                    </div>
                    <div class="mouse">
                    <span></span>
                </div>
                </div>
                
            </div>
            
        </div><!-- END MAIN HEADER -->
        
        <div class="main" id="about">
            <div class="section">
                <div class="row">
                  <div class="col-md-5">
                    <div class="about-me-pic"><img src="img/images/portfolio/about-pic.jpg" alt=""></div>
                  </div>
                  <div class="col-md-7">
                    <div class="about-me-info">
                      <h2>About Me</h2>
                      <h6>UI / UX DESIGNER & WEB DEVELOPER</h6>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release.</p>
                    </div>
                    <div class="skills">
                        <div class="skill-label"><p>HTML5</p></div>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                            90%
                          </div>
                        </div>
                        <div class="skill-label"><p>CSS3</p></div>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                            95%
                          </div>
                        </div>
                       <div class="skill-label"><p>JAVASCRIPT</p></div>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                            90%
                          </div>
                        </div>
                        <div class="skill-label"><p>SASS</p></div>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                            85%
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div> 
        
        <div class="main" id="work">
            <div class="section filters">
                    <div class="section-title">
                    <h2>Portfolio</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <hr class="center">
				</div>
                    <nav class="nav">
                        <a href="#" class="nav-item active" data-rel="project">All</a>
                        <a href="#" class="nav-item" data-rel="option-1">Graphic</a>
                        <a href="#" class="nav-item" data-rel="option-2">Web</a>
                        <a href="#" class="nav-item" data-rel="option-3">Projects</a>
                    </nav>
                <ul class="portfolio">  
                  <li class="project option-1">
                    <div class="project-image"><img src="img/images/portfolio/gallery/creative1.png" alt=""></div>
                    <div class="project-info">
                      <h3 class="project-info-title">Graphic</h3>
                      <a class="project-info-button" href="#">READ MORE</a>
                    </div>
                  </li>      
                   <li class="project option-1">
                    <div class="project-image"><img src="img/images/portfolio/gallery/creative3.jpg" alt=""></div>
                    <div class="project-info">
                      <h3 class="project-info-title">Graphic</h3>
                      <a class="project-info-button" href="#">READ MORE</a>
                    </div>
                    </li>
                    <li class="project option-3">
                      <div class="project-image"><img src="img/images/portfolio/gallery/creative6.png" alt=""></div>
                      <div class="project-info">
                        <h3 class="project-info-title">Projects</h3>
                        <a class="project-info-button" href="#">READ MORE</a>
                      </div>
                    </li>                           
                    <li class="project option-2">
                      <div class="project-image"><img src="img/images/portfolio/gallery/creative2.png" alt=""></div>
                      <div class="project-info">
                        <h3 class="project-info-title">Web</h3>
                        <a class="project-info-button" href="#">READ MORE</a>
                      </div>
                    </li>
                    <li class="project option-2">
                        <div class="project-image"><img src="img/images/portfolio/gallery/creative4.jpg" alt=""></div>
                        <div class="project-info">
                        <h3 class="project-info-title">Web</h3>
                        <a class="project-info-button" href="#">READ MORE</a>
                        </div>
                    </li>
                    <li class="project option-3">
                       <div class="project-image"><img src="img/images/portfolio/gallery/creative5.jpg" alt=""></div>
                       <div class="project-info">
                         <h3 class="project-info-title">Projects</h3>
                         <a class="project-info-button" href="#">READ MORE</a>
                       </div>
                  </li>
                </ul>
            </div>   
        </div>
        
        <div class="main counter-container">
			<div class="section">
                <div class="row">                    
                    <div class="col-sm-3 col-md-3">
                        <div class="inner-counter">
                            <div class="counter-icon"><i class="fa fa-rocket" aria-hidden="true"></i></div>
                            <div class="counter-statistics">
                                <div class="counter"><h1>3999</h1></div>
                                <h5>PROJECTS LAUNCHED</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="inner-counter">
                            <div class="counter-icon"><i class="fa fa-flag-checkered" aria-hidden="true"></i></div>
                            <div class="counter-statistics">
                                <div class="counter"><h1>7900</h1></div>
                                <h5>COMPLETE GOALS</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="inner-counter">
                            <div class="counter-icon"><i class="fa fa-smile-o" aria-hidden="true"></i></div>
                            <div class="counter-statistics">
                                <div class="counter"><h1>8999</h1></div>
                                <h5>HAPPY CUSTOMERS</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="inner-counter">
                            <div class="counter-icon"><i class="fa fa-trophy" aria-hidden="true"></i></div>
                            <div class="counter-statistics">
                                <div class="counter"><h1>10092</h1></div>
                                <h5>AWARDS</h5>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
        
        <div class="main" id="services">
            <div class="section">
                <div class="section-title">
                    <h2>Services</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <hr class="center">
				</div>
                <div class="row">
                  <div class="col-md-4">
                      <div class="right-corner-shadow">
                          <p><i class="fa fa-laptop" aria-hidden="true"></i></p>
                          <h3>WEB DESIGN</h3>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="right-corner-shadow">
                          <p><i class="fa fa-leaf" aria-hidden="true"></i></p>
                          <h3>GRAPHIC DESIGN</h3>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="right-corner-shadow">
                          <p><i class="fa fa-bullhorn" aria-hidden="true"></i></p>
                          <h3>MARKETING</h3>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="right-corner-shadow">
                          <p><i class="fa fa-paper-plane" aria-hidden="true"></i></p>
                          <h3>CREATIVE</h3>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="right-corner-shadow">
                          <p><i class="fa fa-server" aria-hidden="true"></i></p>
                          <h3>HOSTING</h3>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="right-corner-shadow">
                          <p><i class="fa fa-life-ring" aria-hidden="true"></i></p>
                          <h3>24/7 SUPPORT</h3>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                      </div>
                  </div>
                </div>
            </div>
        </div>  
        
        <div class="main testimonial-parallax" id="customers">
            <div class="section">
                <div class="main-gallery">
                    <div class="gallery-cell">
                       <div class="testimonial-section">
                        <div class="avatar"><img src="img/images/avatar1.jpg" alt=""></div>
                        <div class="testimonial-quote">
                           <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."</p>
                        </div>
                        <div class="autor">
                            <h6>Luisa Thomas</h6>
                        </div>
                      </div>
                    </div>
                    <div class="gallery-cell">
                       <div class="testimonial-section">
                        <div class="avatar"><img src="img/images/avatar2.jpg" alt=""></div>
                        <div class="testimonial-quote">
                           <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."</p>
                        </div>
                        <div class="autor">
                            <h6>Camile Smith</h6>
                        </div>
                      </div>
                    </div>
                    <div class="gallery-cell">
                       <div class="testimonial-section">
                        <div class="avatar"><img src="img/images/avatar3.jpg" alt=""></div>
                        <div class="testimonial-quote">
                           <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."</p>
                        </div>
                        <div class="autor">
                            <h6>Robert Jones</h6>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="main" id="contact">
            <div class="section">
                <div class="section-title">
                    <h2>Get in Touch</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <hr class="center">
                    <div class="row contact-front">
                      <div class="col-md-4">
                        <div class="contact-left">
                          <div class="inner-label">
                            <h6>Address:</h6>
                            <p>8273 NW 59th ST Florida 33197, USA</p>
                          </div>
                          <div class="inner-label">
                            <h6>Email:</h6>
                            <p>info@merit.com</p>
                          </div>
                         <div class="inner-label">
                            <h6>Phone:</h6>
                            <p>+ 011 53222 2955</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="contact-right">
                            <form id="contact-form" method="post" action="contact.php">
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input id="form_name" type="text" name="name" class="form-control customize" placeholder="Name" required="required" data-error="Firstname is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input id="form_email" type="email" name="email" class="form-control customize" placeholder="Email address" required="required" data-error="Valid email is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input id="form_phone" type="tel" name="phone" class="form-control customize" placeholder="Please enter your phone">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea id="form_message" name="message" class="form-control customize" placeholder="Your message" rows="8" required="required" data-error="Please,leave us a message."></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                           <input type="submit" class="btn btn-custom" value="Send message">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
				</div>
            </div>
        </div>
		
	</div><!-- END MAIN WRAPPER -->
	
	<div class="footer"><!-- MAIN FOOTER -->
		<div class="main no-margin-top">
			<div class="section">
				<div class="row">
				  <div class="col-md-5 left-column">
					<div class="footer-logo"><img src="img/master/logo.png" alt=""></div>
					<div class="about-footer">
					   <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p> 
					</div>
					<div class="social-footer">
					  <h6>Follow Us</h6>
					  <div class="social-items"><a href="#"><div class="icon-fa"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></div>
					   <div class="social-items"><a href="#"><div class="icon-fa"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></div>
					   <div class="social-items"><a href="#"><div class="icon-fa"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></div>
					   <div class="social-items"><a href="#"><div class="icon-fa"><i class="fa fa-dribbble" aria-hidden="true"></i></div></a></div>
					</div>
				  </div>
				  <div class="col-md-3 center-column">
					<div class="footer-categories">
						 <h6>CATEGORY LISTS</h6>
						  <div class="categories-list">
							<div class="categoties-items"><a href="1-agency.html">Agency</a></div>
							<div class="categoties-items"><a href="2-beauty.html">Beauty</a></div>
							<div class="categoties-items"><a href="3-construction.html">Construction</a></div>
							<div class="categoties-items"><a href="4-corporate.html">Corporate</a></div>
							<div class="categoties-items"><a href="5-courier.html">Courier</a></div>
							<div class="categoties-items"><a href="6-dealer.html">Dealer</a></div>
						  </div>
						  <div class="categories-list-2">
							<div class="categoties-items"><a href="7-dental.html">Dental</a></div>
							<div class="categoties-items"><a href="8-education.html">Education</a></div>
							<div class="categoties-items"><a href="9-gym.html">Gym</a></div>
							<div class="categoties-items"><a href="10-hotel.html">Hotel</a></div>
							<div class="categoties-items"><a href="11-medical.html">Medical</a></div>
							<div class="categoties-items"><a href="12-restaurant.html">Restaurant</a></div>
						  </div>
					</div>
				  </div>
				  <div class="col-md-4 right-column">
					<div class="subscribe-footer">
						<h6>NEWSLETTER</h6>
						<p>Suscribe to our newsletter and get the lastest scoop right to your inbox!</p>
					  	<div class="newsletter-box">
						 <form action="#" method="post" name="sign-up">
							<input type="email" class="input" id="email" name="email" placeholder="Your email address" required="">
							<input type="submit" class="button" id="submit" value="SIGN UP">
						  </form>           
						</div>
						<p class="cursive">Your email is safe with us, we don't spam.</p>
					</div>
				  </div>
				</div>
				<hr class="line-footer">
				<div class="bottom-footer">
					<div class="left-footer">
						<p>© 2018 Merit Premium Multi-Porpose Theme</p>
					</div>
					<div class="right-footer">
						<p><a href="about-style-1.html">About</a> &nbsp;/&nbsp; <a href="#">Privacy & Policy</a> &nbsp;/&nbsp; <a href="contact-style-1.html">Contact Us</a> </p>
					</div>
				</div>
			</div>
		</div>
	</div><!-- END MAIN FOOTER -->
	
	<a href="#0" class="cd-top">Top</a>
	<!-- ==============================================
	JAVASCRIPTS
	=============================================== -->
    <!-- LOAD JQUERY LIBRARY -->
	<script src="../../ajax/libs/jquery/1.11.1/jquery.js"></script>
    <script src='../../JulianLaval/canvas-particle-network/master/particle-network.min.js'></script>
    <script src="js/particle.js"></script>
    <script src="js/loader.js"></script>
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/navigation.js"></script>
    <script src="js/navigation.fixed.js"></script>
    <script src="js/navigation.scrollspy.js"></script>
    
    <script>
        $("#navigation1").fixed();
        $("#navigation1").scrollspy({
            offset: -100
        });
    </script>
	<script src="js/megamenu.js"></script>
    <script src="js/top.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/flickity.pkgd.min.js"></script> 
    <script src="js/testimonials.js"></script>
    <script src="js/scroll.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/validator.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/counter.js"></script>    
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.js"></script>
    <script src="js/typing.js"></script>
    
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-101241150-1', 'auto');
      ga('send', 'pageview');
    </script>   

</body>

</html>