<!DOCTYPE html>
<html lang="en-US" class="no-js">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        
		<!-- ==============================================
		TITLE AND META TAGS
		=============================================== -->
		<title>Merit - Merit Multi-Purpose HTML Template</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Quickdev">

		<!-- ==============================================
		FAVICON
		=============================================== -->  
        <link rel="shortcut icon" href="img/master/favicon.png">
             
		<!-- ==============================================
		CSS
		=============================================== -->  
        <link rel="stylesheet" href="css/bootstrap.min.css"> 
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/navigation.css">
        <link rel="stylesheet" href="css/product-landing.css">
		<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/slick.min.css"> 
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        
	</head>
    
<body>
    
<!-- LOADER -->
<div id="loader-wrapper">
<div id="loader"></div>
</div>
<!-- LOADER -->
    
	<div class="wrapper" id="home"><!-- MAIN WRAPPER -->
		<!-- MAIN HEADER -->
        <div class="main-header">
            <!-- MAIN NAVBAR -->
            <div class="main-nav">
                <nav id="navigation1" class="navigation navbar-fixed-top">
                    <div class="section">                        
                    <div class="nav-header">
                        <a class="nav-logo" href="index.htm">

                        </a>
                        <div class="nav-toggle"></div>
                    </div>

                    <div class="nav-menus-wrapper">
                        <ul class="nav-menu align-to-right">
                            <li class="active"><a href="#home">HOME</a></li>
                            <li><a href="#services">SERVICES</a></li>
                            <li><a href="#features">FEATURES</a></li>
                            <li><a href="#customers">CUSTOMERS</a></li>
                            <li><a href="#contact">CONTACT</a></li>
                        </ul>
                    </div>
                    </div>
                 </nav>
            </div><!-- END MAIN NAVBAR -->
            <div class="main-slider">
                <div class="section">
                    <div class="row">
                      <div class="col-md-6 col-lg-5">
                        <div class="hero-info">
                            <h1>Online Shopping Store Landing Page</h1>
                            <h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</h2>
                            <p><button type="button" class="btn btn-custom">LEARN MORE</button></p>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-7"><div class="hero-background"><img src="img/images/product-landing/img4.png" alt=""></div></div>
                    </div>
                </div>
            </div>
            
        </div><!-- END MAIN HEADER -->
        
        <div class="main">
            <div class="section">
                <div class="row">
                  <div class="col-md-4">
                    <div class="shop-banner-img"><img src="img/images/banner1.jpg" alt=""></div>
                  </div>
                  <div class="col-md-4 center-banner">
                    <div class="shop-banner-img"><img src="img/images/banner2.jpg" alt=""></div>
                  </div>
                  <div class="col-md-4">
                    <div class="shop-banner-img"><img src="img/images/banner3.jpg" alt=""></div>
                  </div>
                </div>
            </div>
        </div>
        
        <div class="main color-background" id="services">
            <div class="section">
                <div class="section-title">
                    <h2>Our Services</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <hr class="center">
				</div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="span-services">
                        <div class="service-icon"><img src="img/master/product-landing/megaphone.png" alt=""></div>
                        <h6>CONSULTING</h6>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="span-services">
                        <div class="service-icon"><img src="img/master/product-landing/network.png" alt=""></div>
                        <h6>INVESTMENT</h6>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="span-services">
                        <div class="service-icon"><img src="img/master/product-landing/guarantee.png" alt=""></div>
                        <h6>GUARANTEE</h6>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="span-services">
                        <div class="service-icon"><img src="img/master/product-landing/target.png" alt=""></div>
                        <h6>MARKETING</h6>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="span-services">
                        <div class="service-icon"><img src="img/master/product-landing/android.png" alt=""></div>
                        <h6>MOBILE APP</h6>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="span-services">
                        <div class="service-icon"><img src="img/master/product-landing/support.png" alt=""></div>
                        <h6>ONLINE SUPPORT</h6>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        
        <div class="main" id="features">
            <div class="section">
                <div class="related-products">
                    <h4>Features Products</h4>
                    <div class="navigation-arrows">
                        <div class="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </div>
                        <div class="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="heroSlider-fixed">
                        <div class="overlay"></div>
                        <div class="slider responsive">
                            <div class="col-md-3">
                                <div class="shop-front-thumbs">
                                    <div class="top-caption">
                                        <p>Audio Speakers</p>
                                        <h6>Waterproof Portable Bluetooth Speaker</h6>
                                    </div>
                                    <div class="shop-thumb-img"><img src="img/images/item6.jpg" alt=""></div>
                                    <hr class="shop">
                                    <div class="bottom-caption">
                                        <div class="bottom-caption-left">
                                            <p><old-price>$39.95</old-price> - $29.95</p>
                                            <div class="rating-box">
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <div class="bottom-caption-right"><img src="img/master/shopping-cart-2.png" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="shop-front-thumbs">
                                    <div class="top-caption">
                                        <p>Monitors</p>
                                        <h6>Curved Screen LED TFT LCD Monitor</h6>
                                    </div>
                                    <div class="shop-thumb-img"><img src="img/images/item7.jpg" alt=""></div>
                                    <hr class="shop">
                                    <div class="bottom-caption">
                                        <div class="bottom-caption-left">
                                            <p><old-price>$39.95</old-price> - $29.95</p>
                                            <div class="rating-box">
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <div class="bottom-caption-right"><img src="img/master/shopping-cart-2.png" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="shop-front-thumbs">
                                    <div class="top-caption">
                                        <p>Video and Cameras</p>
                                        <h6>Professional Recorded Camera</h6>
                                    </div>
                                    <div class="shop-thumb-img"><img src="img/images/item8.jpg" alt=""></div>
                                    <hr class="shop">
                                    <div class="bottom-caption">
                                        <div class="bottom-caption-left">
                                            <p><old-price>$39.95</old-price> - $29.95</p>
                                            <div class="rating-box">
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <div class="bottom-caption-right"><img src="img/master/shopping-cart-2.png" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="shop-front-thumbs">
                                    <div class="top-caption">
                                        <p>Wearable Technology</p>
                                        <h6>Silicone Adjustable Watch</h6>
                                    </div>
                                    <div class="shop-thumb-img"><img src="img/images/item9.jpg" alt=""></div>
                                    <hr class="shop">
                                    <div class="bottom-caption">
                                        <div class="bottom-caption-left">
                                            <p><old-price>$39.95</old-price> - $29.95</p>
                                            <div class="rating-box">
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <div class="bottom-caption-right"><img src="img/master/shopping-cart-2.png" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="shop-front-thumbs">
                                    <div class="top-caption">
                                        <p>Sport Gadgets</p>
                                        <h6>Balancing Transporter 2018 Edition</h6>
                                    </div>
                                    <div class="shop-thumb-img"><img src="img/images/item10.jpg" alt=""></div>
                                    <hr class="shop">
                                    <div class="bottom-caption">
                                        <div class="bottom-caption-left">
                                            <p><old-price>$39.95</old-price> - $29.95</p>
                                            <div class="rating-box">
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <div class="bottom-caption-right"><img src="img/master/shopping-cart-2.png" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="shop-front-thumbs">
                                    <div class="top-caption">
                                        <p>Wearable Technology</p>
                                        <h6>Silicone Adjustable Watch</h6>
                                    </div>
                                    <div class="shop-thumb-img"><img src="img/images/item11.jpg" alt=""></div>
                                    <hr class="shop">
                                    <div class="bottom-caption">
                                        <div class="bottom-caption-left">
                                            <p><old-price>$39.95</old-price> - $29.95</p>
                                            <div class="rating-box">
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <div class="bottom-caption-right"><img src="img/master/shopping-cart-2.png" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="shop-front-thumbs">
                                    <div class="top-caption">
                                        <p>Audio Speakers</p>
                                        <h6>Wireless Audio System Multiroom 360</h6>
                                    </div>
                                    <div class="shop-thumb-img"><img src="img/images/3d-printer.png" alt=""></div>
                                    <hr class="shop">
                                    <div class="bottom-caption">
                                        <div class="bottom-caption-left">
                                            <p><old-price>$39.95</old-price> - $29.95</p>
                                            <div class="rating-box">
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <div class="bottom-caption-right"><img src="img/master/shopping-cart-2.png" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="shop-front-thumbs">
                                    <div class="top-caption">
                                        <p>Audio Speakers</p>
                                        <h6>Wireless Audio System Multiroom 360</h6>
                                    </div>
                                    <div class="shop-thumb-img"><img src="img/images/item3.jpg" alt=""></div>
                                    <hr class="shop">
                                    <div class="bottom-caption">
                                        <div class="bottom-caption-left">
                                            <p><old-price>$39.95</old-price> - $29.95</p>
                                            <div class="rating-box">
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <div class="ratingp-stars"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <div class="bottom-caption-right"><img src="img/master/shopping-cart-2.png" alt=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        		
        <div class="main color-background">
            <div class="section">
                <div class="row">
                  <div class="col-md-6">
                    <div class="product-pic"><img src="img/images/product-landing/img3.png" alt=""></div>
                  </div>
                  <div class="col-md-6">
                    <div class="produc-info">
                        <h6>Wearable Technology</h6> 
                        <h1>Sport Water Proof Watch</h1>
                        <p>Predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. Therefore always free from repetition, injected humour, or non-characteristic words.</p>
                        <p><button type="button" class="btn btn-custom">LEARN MORE</button></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        
        <div class="main" id="customers">
            <div class="section">
                <div class="section-title">
                    <h2>Customers Testimonials</h2>
					<p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure.</p>
                    <hr class="center">
				</div>
                <div class="main-gallery">
                    <div class="gallery-cell">
                       <div class="testimonial-section">
                        <div class="avatar"><img src="img/images/avatar1.jpg" alt=""></div>
                        <div class="testimonial-quote">
                           <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."</p>
                        </div>
                        <div class="autor">
                            <h6>Paul Thomas</h6>
                        </div>
                      </div>
                    </div>
                    <div class="gallery-cell">
                       <div class="testimonial-section">
                        <div class="avatar"><img src="img/images/avatar2.jpg" alt=""></div>
                        <div class="testimonial-quote">
                           <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."</p>
                        </div>
                        <div class="autor">
                            <h6>Albert Belle</h6>
                        </div>
                      </div>
                    </div>
                    <div class="gallery-cell">
                       <div class="testimonial-section">
                        <div class="avatar"><img src="img/images/avatar3.jpg" alt=""></div>
                        <div class="testimonial-quote">
                           <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."</p>
                        </div>
                        <div class="autor">
                            <h6>Camile Smith</h6>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="main banner-container">
			<div class="section">
                <div class="banner-callout">
                    <div class="info-callout">
                        <h3>HOSTING WITH FREEDOM BUILT IN</h3>
                        <p>Building the Better, you are premium for us, and you know that tradition of Trust.</p>
                    </div>
                    <p><a class="btn btn-callout" href="#" role="button">GET STARTED</a></p>
                </div>
			</div>
		</div>
        
        <div class="main" id="contact">
            <div class="section">
                <div class="section-title">
                    <h2>Get in Touch</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <hr class="center">
                    <div class="row contact-front">
                      <div class="col-md-4">
                        <div class="contact-left">
                          <div class="inner-label">
                            <h6>Address:</h6>
                            <p>8273 NW 59th ST Florida 33197, USA</p>
                          </div>
                          <div class="inner-label">
                            <h6>Email:</h6>
                            <p>info@merit.com</p>
                          </div>
                         <div class="inner-label">
                            <h6>Phone:</h6>
                            <p>+ 011 53222 2955</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="contact-right">
                            <form id="contact-form" method="post" action="contact.php">
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input id="form_name" type="text" name="name" class="form-control customize" placeholder="Name" required="required" data-error="Firstname is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input id="form_email" type="email" name="email" class="form-control customize" placeholder="Email address" required="required" data-error="Valid email is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input id="form_phone" type="tel" name="phone" class="form-control customize" placeholder="Please enter your phone">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea id="form_message" name="message" class="form-control customize" placeholder="Your message" rows="8" required="required" data-error="Please,leave us a message."></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                           <input type="submit" class="btn btn-custom" value="Send message">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
				</div>
            </div>
        </div>
        
	</div><!-- END MAIN WRAPPER -->
	
	<div class="footer"><!-- MAIN FOOTER -->
		<div class="main no-margin-top">
			<div class="section">
				<div class="row">
				  <div class="col-md-5 left-column">
					<div class="footer-logo"><img src="img/master/logo.png" alt=""></div>
					<div class="about-footer">
					   <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p> 
					</div>
					<div class="social-footer">
					  <h6>Follow Us</h6>
					  <div class="social-items"><a href="#"><div class="icon-fa"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></div>
					   <div class="social-items"><a href="#"><div class="icon-fa"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></div>
					   <div class="social-items"><a href="#"><div class="icon-fa"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></div>
					   <div class="social-items"><a href="#"><div class="icon-fa"><i class="fa fa-dribbble" aria-hidden="true"></i></div></a></div>
					</div>
				  </div>
				  <div class="col-md-3 center-column">
					<div class="footer-categories">
						 <h6>CATEGORY LISTS</h6>
						  <div class="categories-list">
							<div class="categoties-items"><a href="1-agency.html">Agency</a></div>
							<div class="categoties-items"><a href="2-beauty.html">Beauty</a></div>
							<div class="categoties-items"><a href="3-construction.html">Construction</a></div>
							<div class="categoties-items"><a href="4-corporate.html">Corporate</a></div>
							<div class="categoties-items"><a href="5-courier.html">Courier</a></div>
							<div class="categoties-items"><a href="6-dealer.html">Dealer</a></div>
						  </div>
						  <div class="categories-list-2">
							<div class="categoties-items"><a href="7-dental.html">Dental</a></div>
							<div class="categoties-items"><a href="8-education.html">Education</a></div>
							<div class="categoties-items"><a href="9-gym.html">Gym</a></div>
							<div class="categoties-items"><a href="10-hotel.html">Hotel</a></div>
							<div class="categoties-items"><a href="11-medical.html">Medical</a></div>
							<div class="categoties-items"><a href="12-restaurant.html">Restaurant</a></div>
						  </div>
					</div>
				  </div>
				  <div class="col-md-4 right-column">
					<div class="subscribe-footer">
						<h6>NEWSLETTER</h6>
						<p>Suscribe to our newsletter and get the lastest scoop right to your inbox!</p>
					  	<div class="newsletter-box">
						 <form action="#" method="post" name="sign-up">
							<input type="email" class="input" id="email" name="email" placeholder="Your email address" required="">
							<input type="submit" class="button" id="submit" value="SIGN UP">
						  </form>           
						</div>
						<p class="cursive">Your email is safe with us, we don't spam.</p>
					</div>
				  </div>
				</div>
				<hr class="line-footer">
				<div class="bottom-footer">
					<div class="left-footer">
						<p>© 2018 Merit Premium Multi-Porpose Theme</p>
					</div>
					<div class="right-footer">
						<p><a href="about-style-1.html">About</a> &nbsp;/&nbsp; <a href="#">Privacy & Policy</a> &nbsp;/&nbsp; <a href="contact-style-1.html">Contact Us</a> </p>
					</div>
				</div>
			</div>
		</div>
	</div><!-- END MAIN FOOTER -->
	
	<a href="#0" class="cd-top">Top</a>
	<!-- ==============================================
	JAVASCRIPTS
	=============================================== -->
    <!-- LOAD JQUERY LIBRARY -->
	<script src="../../ajax/libs/jquery/1.11.1/jquery.js"></script>
    <script src="js/loader.js"></script>
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/navigation.js"></script>
    <script src="js/navigation.fixed.js"></script>
    <script src="js/navigation.scrollspy.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/related-products.js"></script>
    <script>
        $("#navigation1").fixed();
        $("#navigation1").scrollspy({
            offset: -100
        });
    </script>
	<script src="js/megamenu.js"></script>
    <script src="js/top.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/flickity.pkgd.min.js"></script> 
    <script src="js/testimonials.js"></script>
    <script src="js/scroll.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/validator.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/related-products.js"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-101241150-1', 'auto');
      ga('send', 'pageview');
    </script>   

</body>

</html>