<!DOCTYPE html>
<html lang="en-US" class="no-js">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        
		<!-- ==============================================
		TITLE AND META TAGS
		=============================================== -->
		<title>Merit - Premium Multi-Purpose HTML5 Template</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Quickdev">

		<!-- ==============================================
		FAVICON
		=============================================== -->  
        <link rel="shortcut icon" href="img/master/favicon.png">
             
		<!-- ==============================================
		CSS
		=============================================== -->  
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/intro.css">
		<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/slick.min.css"> 
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/animate.min.css"> 
        
	</head>
    
<body>
    
<!-- LOADER -->
<div id="loader-wrapper">
<div id="loader"></div>
</div>
<!-- LOADER -->
    
    <div class="wrapper">
        
        <div class="container-fluid">
            <div class="container header-container">
                <div class="header">
                    <div class="logo">
                        <img src="img/master/logo.png" alt="">
                    </div>
                    <div class="purchase-btn">
                        <p><a class="btn btn-default" href="../../item/merit-premium-multipurpose-html5-template/21866679.html" target="_blank" role="button">PURSHASE NOW</a></p>
                    </div>
                </div>
                <div class="hero-slogan">
                    <h1>Premium Multi-Purpose HTML5 Template</h1>
                    <h2>It's time to start your project with this awesome and powerful template.</h2>
                </div>
            </div>
        </div>
        
        <div class="content">
            <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <a href="24-fitness.html" target="_blank"><div class="theme-preview"><img src="img/images/theme24.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="17-hosting.html" target="_blank"><div class="theme-preview"><img src="img/images/theme17.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="4-corporate.html" target="_blank"><div class="theme-preview"><img src="img/images/theme4.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="11-medical.html" target="_blank"><div class="theme-preview"><img src="img/images/theme11.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="14-cleaning.html" target="_blank"><div class="theme-preview"><img src="img/images/theme14.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="5-courier.html" target="_blank"><div class="theme-preview"><img src="img/images/theme5.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="21-yoga.html" target="_blank"><div class="theme-preview"><img src="img/images/theme21.png" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="22-travel.html" target="_blank"><div class="theme-preview"><img src="img/images/theme22.png" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="19-app-landing.html" target="_blank"><div class="theme-preview"><img src="img/images/theme19.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="20-product-landing.html" target="_blank"><div class="theme-preview"><img src="img/images/theme20.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="18-portfolio.html" target="_blank"><div class="theme-preview"><img src="img/images/theme18.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="1-agency.html" target="_blank"><div class="theme-preview"><img src="img/images/theme1.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="2-beauty.html" target="_blank"><div class="theme-preview"><img src="img/images/theme2.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="3-construction.html" target="_blank"><div class="theme-preview"><img src="img/images/theme3.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="6-dealer.html" target="_blank"><div class="theme-preview"><img src="img/images/theme6.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="7-dental.html" target="_blank"><div class="theme-preview"><img src="img/images/theme7.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="8-education.html" target="_blank"><div class="theme-preview"><img src="img/images/theme8.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="9-gym.html" target="_blank"><div class="theme-preview"><img src="img/images/theme9.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="10-hotel.html" target="_blank"><div class="theme-preview"><img src="img/images/theme10.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="12-restaurant.html" target="_blank"><div class="theme-preview"><img src="img/images/theme12.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="13-charity.html" target="_blank"><div class="theme-preview"><img src="img/images/theme13.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="15-finance.html" target="_blank"><div class="theme-preview"><img src="img/images/theme15.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="16-industrial.html" target="_blank"><div class="theme-preview"><img src="img/images/theme16.jpg" alt=""></div></a>
                  </div>
                  <div class="col-md-4">
                    <a href="23-lawyer.html" target="_blank"><div class="theme-preview"><img src="img/images/theme23.png" alt=""></div></a>
                  </div>
                </div>
            </div>
        </div>
        
        <div class="content">
            <div class="container">
                <h1>Key Features</h1>
                <div class="feature-list">
                    <div class="row">
                      <div class="col-sm-4 col-md-2">
                        <div class="span-circle">
                          <div class="inner-icon"><img src="img/images/bootstrap-logo.png" alt=""></div>
                        </div>
                        <h6>Bootstrap 3</h6>
                      </div>
                      <div class="col-sm-4 col-md-2">
                        <div class="span-circle">
                          <div class="inner-icon"><img src="img/images/slider-revolution.png" alt=""></div>
                        </div>
                        <h6>Rev Slider</h6>
                      </div>
                      <div class="col-sm-4 col-md-2">
                        <div class="span-circle">
                          <div class="inner-icon"><img src="img/images/google-font.png" alt=""></div>
                        </div>
                        <h6>Google Fonts</h6>
                      </div>
                     <div class="col-sm-4 col-md-2">
                        <div class="span-circle">
                          <div class="inner-icon"><img src="img/images/responsive.png" alt=""></div>
                        </div>
                        <h6>Responsive</h6>
                      </div>
                      <div class="col-sm-4 col-md-2">
                        <div class="span-circle">
                          <div class="inner-icon"><img src="img/images/menu.png" alt=""></div>
                        </div>
                        <h6>Mega Menu</h6>
                      </div>
                      <div class="col-sm-4 col-md-2">
                        <div class="span-circle">
                          <div class="inner-icon"><img src="img/images/validate.png" alt=""></div>
                        </div>
                        <h6>W3C Validated</h6>
                      </div>
                      <div class="col-sm-4 col-md-2">
                        <div class="span-circle">
                          <div class="inner-icon"><img src="img/images/email.png" alt=""></div>
                        </div>
                        <h6>Contact Form</h6>
                      </div>
                      <div class="col-sm-4 col-md-2">
                        <div class="span-circle">
                          <div class="inner-icon"><img src="img/images/contract.png" alt=""></div>
                        </div>
                        <h6>Documentation</h6>
                      </div>
                      <div class="col-sm-4 col-md-2">
                        <div class="span-circle">
                          <div class="inner-icon"><img src="img/images/html-coding.png" alt=""></div>
                        </div>
                        <h6>Clean Code</h6>
                      </div>
                      <div class="col-sm-4 col-md-2">
                        <div class="span-circle">
                          <div class="inner-icon"><img src="img/images/cross-browser.jpg" alt=""></div>
                        </div>
                        <h6>Cross Browser</h6>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer">
            <div class="container">
                <div class="footer-slogan">
                    <h1>Original template for any bussines</h1>
                    <h5>Start your project now!</h5>
                    <p><a class="btn btn-default" href="../../item/merit-premium-multipurpose-html5-template/21866679.html" target="_blank" role="button">PURSHASE NOW</a></p>
                </div>
            </div>
        </div>
        
    </div>
    
    <script src="../../ajax/libs/jquery/1.11.1/jquery.js"></script>
    <script src="js/loader.js"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-101241150-1', 'auto');
      ga('send', 'pageview');
    </script> 
    
    </body>
    
</html>